# Data and audio files
embeddings/
audio_files/
dataset/
data/
hf_embeddings/
*.wav
*.mp3
*.flac
*.md
# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# PyTorch and machine learning
checkpoints/
#scalers/
*.pt
*.pth
*.pkl

# Environmental and configuration
.env
.venv
venv/
env/
.idea/
.vscode/
*.log